body {
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    background-color: hsl(30, 38%, 92%);
}

.container {
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    width: 90vw;
}

.imgPerfume {
    background-image: url(../product-preview-card-component/images/image-product-mobile.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 90vw;
    height: 60vw;

}

.caixaTexto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: auto;
    width: 90vw;
}

.titulo, .valor {
    font-family: 'Fraunces', serif;
}

.titulo {
    color: hsl(212, 21%, 14%);
}

p {
    font-size: 0.9em;
    line-height: 20px;
}

.valores {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.valor {
    color: hsl(158, 36%, 37%);
    font-size: 2.5em;
    margin: 0;
}

.valorRiscado {
    text-decoration: line-through;
    font-size: 0.9em;
    justify-items: center;

}

.botao {
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 10px;
    padding: 15px 50px;
    font-weight: bold;
    margin-top: 8%;
}

.botao:hover {
    background-color: hsl(158, 77%, 12%);
}


/*FOOTER*/
.attribution { 
    font-size: 11px; 
    text-align: center; 
    color: hsl(228, 45%, 44%); 
    bottom: 0;    
}

