/*DESKTOP*/

body {
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    background-color: hsl(30, 38%, 92%);
}

.container {
    display: inline-flex;
    background-color: hsl(0, 0%, 100%);
    margin: 6% 25%;
    border-radius: 1em;
}

.imgPerfumeDesktop, .caixaTexto{
    display: inline-block;   
}

.imgPerfumeDesktop {
    width: 50%;
}

.caixaTexto {
    width: 40%;
}

.imgDesktop {
    width: 90%;
    border-bottom-left-radius: 1em;
    border-top-left-radius: 1em;
}

.titulo, .valor {
    font-family: 'Fraunces', serif;
}

.titulo {
    color: hsl(212, 21%, 14%);
}

p {
    font-size: 14px;
    line-height: 25px;
}

.valor, .valorRiscado {
    display: inline-flex;
}

.valor {
    color: hsl(158, 36%, 37%);
    font-size: 40px;
}

.valorRiscado {
    text-decoration: line-through;
    font-size: 13px;
}

.botao {
    display: block;
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 0.5em;
    padding: 15px 75px;
    font-weight: bold;
    margin-top: 8%;
}

.botao:hover {
    background-color: hsl(158, 77%, 12%);
}

.imgPerfumeMobile {
    display: none;
}

/*FOOTER*/
.attribution { 
    font-size: 11px; 
    text-align: center; 
    color: hsl(228, 45%, 44%); 
    bottom: 0;    
}



/*MOBILE*/
@media only screen and (max-width:){
    
}