/*DESKTOP*/



body {
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    background-color: hsl(30, 38%, 92%);
}


.container {
    display: inline-flex;
    background-color: hsl(0, 0%, 100%);
    margin: 8% 25%;
    
}
.imgDesktop {
    width: 90%;
}


.imgPerfumeDesktop, .caixaTexto{
    display: inline-block;
    
    
}










.titulo, .valor {
    font-family: 'Fraunces', serif;
}

.titulo {
    color: hsl(212, 21%, 14%);
}

p {
    font-size: 14px;
}

.valor {
    color: hsl(158, 36%, 37%);
}


.botao {
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 0.5em;
    padding: 10px 30px;
}



.imgPerfumeMobile {
    display: none;
}


/*FOOTER*/
.attribution { 
    font-size: 11px; 
    text-align: center; 
    color: hsl(228, 45%, 44%); 
    bottom: 0;
    
}
